.app {
  max-width: 720px;
  margin: auto;
  padding: 40px 20px;
  text-align: center;
}

.title {
  color: #9d0000;
}

.form-item {
  margin-bottom: 10px;
  padding: 10px;
  color: #8d8c8c;
  border: 1px solid #303030;
  border-radius: 5px;
  font-size: 3em;
}

input {
  width: calc(100% - 100px);
  margin-right: 10px;
  background-color: transparent;
  transition: border ease-in-out 300ms;
}

input:focus {
  outline: none;
  border-color: #9d0000;
}

button {
  background-color: #303030;
  cursor: pointer;
  transition: all ease-in-out 300ms;
}

button:hover {
  color: #fdfdfd;
  background-color: #9d0000;
}

button:focus {
  outline: none;
}

.circle-container {
  margin: auto;
}

.circle {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
}

svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}

circle {
  fill: #9d0000;
  cursor: pointer;
  transition: all cubic-bezier(0.55, 0.055, 0.675, 0.19) 500ms;
}

.error {
  color: #9d0000;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  animation-fill-mode: both;
  animation: loader 1.8s infinite ease-in-out;
}
.loader {
  color: #8d8c8c;
  font-size: 10px;
  margin: 80px auto;
  position: relative;
  text-indent: -9999em;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}

@keyframes loader {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.text {
  animation-name: fadeIn;
  animation-duration: 3s;
}

@media only screen and (max-width: 480px) {
  .app {
    padding: 10px 15px;
  }
  .form-item {
    font-size: 1em;
  }
}
